#############
VITE_REFERENCE_ID=nyeiguokfrmnztqeyyzz
VITE_SUPABASE_URL=https://supabase.digitlab.app
VITE_DATABASE=postgres
VITE_HOST=194.164.76.176
VITE_PORT=5432
VITE_USER=postgres
VITE_SUPABASE_DB_PASSWORD=863mSdj2E8UxaJDzxi9XkMewBGjTidC9

##############
VITE_DB_URL=postgresql://${VITE_USER}:${VITE_SUPABASE_DB_PASSWORD}@${VITE_HOST}:${VITE_PORT}/${VITE_DATABSE}

##############
VITE_SUPABASE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTczOTEwMDI0MCwiZXhwIjo0ODk0NzczODQwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.A1V_Wj1ZZE_JicqCPyb1DEe0A6zaV-gE4Zs35OxzPMM

VITE_SERVICE_ROLE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTczOTEwMDI0MCwiZXhwIjo0ODk0NzczODQwLCJyb2xlIjoiYW5vbiJ9.kQo-PiG1g9MYcqfFN6eHdR5HMJnT23rci-Y5CSSkegk

CONNECTION_STRING=postgresql://postgres:863mSdj2E8UxaJDzxi9XkMewBGjTidC9@194.164.76.176:5432/postgres
